		<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
		<style type="text/css" media="screen">
		.gr_custom_container_1673060274 {
			/* customize your Goodreads widget container here*/
			border: 1px solid gray;
			border-radius:10px;
			padding: 10px 5px 10px 5px;
			background-color: transparent;
			color: #000000;
			width: 300px
		}
		.gr_custom_header_1673060274 {
			/* customize your Goodreads header here*/
			border-bottom: 1px solid gray;
			width: 100%;
			margin-bottom: 5px;
			text-align: center;
			font-size: 120%
		}
		.gr_custom_each_container_1673060274 {
			/* customize each individual book container here */
			width: 100%;
			clear: both;
			margin-bottom: 10px;
			overflow: auto;
			padding-bottom: 4px;
			border-bottom: 1px solid #aaa;
		}
		.gr_custom_book_container_1673060274 {
			/* customize your book covers here */
			overflow: hidden;
			height: 60px;
			float: left;
			margin-right: 4px;
			width: 39px;
		}
		.gr_custom_author_1673060274 {
			/* customize your author names here */
			font-size: 10px;
		}
		.gr_custom_tags_1673060274 {
			/* customize your tags here */
			font-size: 10px;
			color: gray;
		}
		.gr_custom_rating_1673060274 {
			/* customize your rating stars here */
			float: right;
		}
		</style>
		
			<div id="gr_custom_widget_1673060274">
				<div class="gr_custom_container_1673060274">
			<h2 class="gr_custom_header_1673060274">
			<a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/33756154-liam-strand?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget">Liam&#39;s bookshelf: currently-reading</a>
			</h2>
			<div class="gr_custom_each_container_1673060274">
				<div class="gr_custom_book_container_1673060274">
					<a title="New York 2140" rel="nofollow" href="https://www.goodreads.com/review/show/5236236631?utm_medium=api&amp;utm_source=custom_widget"><img alt="New York 2140" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1471618737l/29570143._SY75_.jpg" /></a>
				</div>
				<div class="gr_custom_title_1673060274">
					<a rel="nofollow" href="https://www.goodreads.com/review/show/5236236631?utm_medium=api&amp;utm_source=custom_widget">New York 2140</a>
				</div>
				<div class="gr_custom_author_1673060274">
					by <a rel="nofollow" href="https://www.goodreads.com/author/show/1858.Kim_Stanley_Robinson">Kim Stanley Robinson</a>
				</div>
				<div class="gr_custom_tags_1673060274">
					tagged:
					currently-reading
				</div>
			</div>
			<div class="gr_custom_each_container_1673060274">
				<div class="gr_custom_book_container_1673060274">
					<a title="Worlds of Exile and Illusion: Rocannon's World / Planet of Exile / City of Illusions (Hainish Cycle, #1-3)" rel="nofollow" href="https://www.goodreads.com/review/show/5228513728?utm_medium=api&amp;utm_source=custom_widget"><img alt="Worlds of Exile and Illusion: Rocannon's World / Planet of Exile / City of Illusions" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1592183047l/54031962._SY75_.jpg" /></a>
				</div>
				<div class="gr_custom_title_1673060274">
					<a rel="nofollow" href="https://www.goodreads.com/review/show/5228513728?utm_medium=api&amp;utm_source=custom_widget">Worlds of Exile and Illusion: Rocannon's World / Planet of Exile / City of Illusions</a>
				</div>
				<div class="gr_custom_author_1673060274">
					by <a rel="nofollow" href="https://www.goodreads.com/author/show/874602.Ursula_K_Le_Guin">Ursula K. Le Guin</a>
				</div>
				<div class="gr_custom_tags_1673060274">
					tagged:
					currently-reading
				</div>
			</div>
			<div class="gr_custom_each_container_1673060274">
				<div class="gr_custom_book_container_1673060274">
					<a title="The Complete Works of William Shakespeare Volume I" rel="nofollow" href="https://www.goodreads.com/review/show/4154950509?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Complete Works of William Shakespeare Volume I" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328069938l/13447984._SY75_.jpg" /></a>
				</div>
				<div class="gr_custom_title_1673060274">
					<a rel="nofollow" href="https://www.goodreads.com/review/show/4154950509?utm_medium=api&amp;utm_source=custom_widget">The Complete Works of William Shakespeare Volume I</a>
				</div>
				<div class="gr_custom_author_1673060274">
					by <a rel="nofollow" href="https://www.goodreads.com/author/show/947.William_Shakespeare">William Shakespeare</a>
				</div>
				<div class="gr_custom_tags_1673060274">
					tagged:
					currently-reading
				</div>
			</div>
			<div class="gr_custom_each_container_1673060274">
				<div class="gr_custom_book_container_1673060274">
					<a title="Underland: A Deep Time Journey" rel="nofollow" href="https://www.goodreads.com/review/show/3458256256?utm_medium=api&amp;utm_source=custom_widget"><img alt="Underland: A Deep Time Journey" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1542139964l/42771366._SY75_.jpg" /></a>
				</div>
				<div class="gr_custom_title_1673060274">
					<a rel="nofollow" href="https://www.goodreads.com/review/show/3458256256?utm_medium=api&amp;utm_source=custom_widget">Underland: A Deep Time Journey</a>
				</div>
				<div class="gr_custom_author_1673060274">
					by <a rel="nofollow" href="https://www.goodreads.com/author/show/435856.Robert_Macfarlane">Robert Macfarlane</a>
				</div>
				<div class="gr_custom_tags_1673060274">
					tagged:
					currently-reading
				</div>
			</div>
			<div class="gr_custom_each_container_1673060274">
				<div class="gr_custom_book_container_1673060274">
					<a title="The Fellowship of the Ring (The Lord of the Rings, #1)" rel="nofollow" href="https://www.goodreads.com/review/show/2658220760?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Fellowship of the Ring" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1176174220l/601134._SY75_.jpg" /></a>
				</div>
				<div class="gr_custom_title_1673060274">
					<a rel="nofollow" href="https://www.goodreads.com/review/show/2658220760?utm_medium=api&amp;utm_source=custom_widget">The Fellowship of the Ring</a>
				</div>
				<div class="gr_custom_author_1673060274">
					by <a rel="nofollow" href="https://www.goodreads.com/author/show/656983.J_R_R_Tolkien">J.R.R. Tolkien</a>
				</div>
				<div class="gr_custom_tags_1673060274">
					tagged:
					currently-reading
				</div>
			</div>
		<br style="clear: both"/>
		<center>
			<a rel="nofollow" href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://s.gr-assets.com/images/widget/widget_logo.gif" /></a>
		</center>
		<noscript>
			Share <a rel="nofollow" href="https://www.goodreads.com/">book reviews</a> and ratings with Liam, and even join a <a rel="nofollow" href="https://www.goodreads.com/group">book club</a> on Goodreads.
		</noscript>
		</div>
		
			</div>
			<script src="https://www.goodreads.com/review/custom_widget/33756154.Liam's%20bookshelf:%20currently-reading?cover_position=left&cover_size=small&num_books=5&order=d&shelf=currently-reading&show_author=1&show_cover=1&show_rating=0&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1673060274&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
